<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      
      
      <nav class="navbar">
        <a class="link" href="/">India</a>
        <a class="link" href="/China">China</a>
        <a class="link" href="/US">USA</a>
        <a class="link" href="/EU">EU</a>
        <a class="link" href="/Economics">Economics Money Control</a>
        <a class="link" href="/refresh">Refresh</a>
      </nav>
    </header>


    <div>
      <%- include('partials/newsSection', {name: newsJson}) %>
    </div>
    
  </body>
</html>
