body {
  padding: 0;
  background-color: rgb(152, 221, 213);
  font: 14px "Helvetica", Arial, sans-serif;
  color: rgb(8, 95, 114);
}

a {
  color: rgb(8, 95, 114);
  text-decoration: none;
}

.news-section {

  border: 1px dotted black;
  padding: 2% 0 2% 4%;
}